<title>Simon Says</title>
		<style>
			
			
			
			h1{
				font-variant: small-caps;
				text-align: center;
				margin-top: 180px;
				margin-left: 13px;
				margin-right: 25px;
			}
			
				.button{
				position:absolute;
				left:41.5%;
				right:40%;
				top:500px;
				background-color: transparent;
				border-radius: 25%;
				color: black;
				padding: 10px;
				text-align: center;
				font-variant: small-caps;
				font-size: 16px;
				margin: 4px 2px;
			}
			
		</style>
	</head>
	
	<body>
		
		<h1 style="float:center;">Simon Says</h1><br>
		<h4 align="center";>Remember and repeat the sequence of colors.</h4>
		<button class="button" onclick="window.location.href='maycy.html';">PLAY</button>
	</body>
</html>
